h1 {
  color: #333;
    font-size: 2em;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

a {
  color: #ddd;
}

h2 {
    color: rgb(33, 30, 30);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-size: 4em;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
    font-size: 16px;
}
footer{
  font-size: 85%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155px;
}
#wrap_page{
    width: 1080px;
    margin: 0 auto;
}
#menu ul li{
    display: inline;
    margin-left: 10px;
    padding-left: 50px;
}
#content_page{
    width: 55%;
}
#left{
    width: auto;
}
#logo{
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li{
    float: left;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    text-align: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  padding: 20px;
}
.product {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  margin: 16px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
}
.product img {
  max-width: 100%;
  height: auto;
}
.product button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.product button:hover {
  background-color: #218838;
}

